#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Etap Toy
Comment=Etap Toy
Categories=System;X-Pardus-Apps;
Keywords=keyword;keyword;keyword;

Exec=etap-toy
Icon=tr.org.etap.toy
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
Name[C]=tr.org.etap.toy.desktop
